@theme "catppuccin"
configuration {
    modi: "drun,window,ssh";
    show-icons: true;
    icon-theme: "Tela-circle-dark";
    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    kb-remove-to-eol: "Control+Shift+e";
}
